* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    overflow-x: hidden;
    background: #f3f6fe;
}
.btn:focus {
    box-shadow: none;
}
.userpro img {
    margin-left: 10px;
    border-radius: 50%;
    -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 16%);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 16%);
}
.mob_logo {
    display: none;
}
/* Navbar */

.mainnav {
    position: relative;
    width: 100%;
}

.navigation {
    width: 300px;
    height: 100%;
    position: fixed;
    background: #172b4d;
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 0;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    line-height: 50px;
}

.navigation ul li a {
    text-decoration: none;
    display: block;
    position: relative;
    width: 100%;
    color: white;
    display: flex;
}

.navigation ul li a .title {
    display: block;
    display: flex;
    position: relative;
    white-space: nowrap;
}

.navigation ul li:nth-child(1) {
    display: flex;
    margin: 47px 0 140px 19px;
    align-items: center;
}

.logoli.active {
    margin: 34px 0 140px 4px !important;
    transition: 0.5s;
}

.navigation ul li:nth-child(5) {
    background-color: #122441;
    position: absolute !important;
    bottom: 0;
}

.mainlogo {
    padding-right: 10px;
}

.navigation ul li span h2 {
    font-size: 19px;
    color: white;
    font-weight: 700;
}

.navigation ul li span h3 {
    font-size: 19px;
    color: white;
    font-weight: 500;
}

.title {
    font-size: 17px;
    color: white;
    font-weight: 500;
}

.navicon {
    padding-right: 26px;
    padding-left: 26px;
}

/* Main */

/* profile */

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    -webkit-box-shadow: 0 5px 10px -7px #e0e0e0;
    box-shadow: 0 5px 10px -7px #e0e0e0;
    display: flex;
    align-items: center;
    padding: 25px 54px;
    justify-content: space-between;
    background: white;
}

.user {
    display: flex;
    align-items: center;
}

/* MainBody */

.mainbody {
    margin: 40px 54px;
}

.firstsec {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.firstsec h1 {
    font-size: 35px;
    color: #212121;
    font-weight: 600;
}

.firstsec button {
    border-radius: 16px;
    font-size: 20px;
    font-weight: 400;
    border: none;

    background-color: #2f36cc;
    color: white;
    width: 135px;
    height: 50px;
}
.secondsec {
    padding: 40px 50px;
    background-color: white;
    border-radius: 16px;
    border: 1px solid #dfe5f9;
}

table {
    width: 100%;
}

.names {
    border-right: 2px dashed #707070;
}

.names1 {
    font-size: 22px;
    font-weight: 700;
    color: #172b4d;
    padding: 8px 0;
}

.names2 {
    font-size: 25px;
    font-weight: 500;
    padding: 6px 0;
}

/* Responsive */
@media (max-width: 1399px) {
    .firstsec h1 {
        font-size: 28px;
    }
    .names1 {
        font-size: 15px;
    }
    .names2 {
        font-size: 16px;
    }
}
@media (max-width: 992px) {
    .navigation {
        left: -300px;
    }

    .navigation.active {
        left: 0;
        width: 300px;
    }

    .main {
        left: 0;
        width: 100%;
    }

    .main.active {
        width: calc(100% - 300px);
        left: 300px;
    }
}
@media (max-width: 991px) {
    .names2 {
        font-size: 13px;
    }
}

@media (max-width: 575px) {
    .mainbody h1 {
        font-size: 19px;
        margin-left: 12px;
    }
    .firstsec button {
        height: 40px;
    }
    .topbar {
        padding: 25px 10px;
        height: 75px;
    }
    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .navigation.active {
        width: 100%;
        left: 0;
    }

    .toggle.active {
        position: relative;
        cursor: pointer;
        z-index: 1000;
    }

    .navigation ul li:nth-child(1) {
        margin: 28px 0 140px 19px;
    }
    .mainbody {
        margin: 30px auto;
    }
    .main.active {
        left: 250px;
    }
    .names {
        border: none;
    }
    .secondsec {
        padding: 40px 30px;
    }
    .mob_logo {
        margin-left: 20px;
        display: block;
        scale: 0.6;
    }
    .main.active .mob_logo,
    .main.active .dropdown {
        display: none;
    }
    .main.active .topbar {
        box-shadow: none;
        background-color: transparent;
    }
}
